body {
    margin: 0;
    padding: 0;
}

.header {
    max-width: 1540px;
    width: 100%;
    padding: 20px;
    background-color: black;
}

.header_logo img {
    width: 400px;
}

@media screen and (max-width: 860px) {

    body {
        margin: 0;
        padding: 0;
    }

    .header {
        max-width: 860px;
        width: 100%;
        padding: 20px;
        background-color: black;
    }

    .header_logo img {
        width: 300px;
    }
}